node-test/node_modules
node-test/.nyc_output
node-test/.env

wikipedia/vectra.json

vector-db/lib
vector-db/node_modules
vector-db/.nyc_output
yarn.lock
node-test/.DS_Store
node-test/pnpm-lock.yaml
vector-db/tsconfig.tsbuildinfo